page-terms_conditions {
    .header.theme_header {
        padding-bottom: 15px;

        .toolbar .title .toolbar-title {
            display: block !important;

            h2 {
                margin: 0;
                white-space: normal;
                color: lighten($text-light, 25%);
                font-size: 1.7rem;
                font-weight: 400;
                line-height: 22px;
            }
        }
    }

    .container {
        padding-top: 20px;
        p {
            font-size: 1.5rem;
            color: darken($text-light, 30%);
            margin: 0;
            margin-bottom: 20px;
        }

        h2 {
            color: lighten($text-light, 20%);
            margin: 0;
            margin-bottom: 20px;
            font-size: 1.8rem;
            font-weight: 400;
        }
    }
}