page-managelanguage {
	h2 {
	  font-size: 1.7rem;
	  font-weight: 500;
	  margin: 0;
	  padding: 26px 30px 23px 30px;
	  
	}
  
	.list {
	  .item {
		align-items: flex-start;
		padding: 8px 9px 8px 34px;
		box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
		margin-bottom: 5px;
  
		.label {
		  white-space: normal;
  
		  h3 {
			font-size: 2rem;
			font-weight: 600;
		  }
  
		  p {
			margin: 0;
			margin-top: 20px;
			font-size: 1.3rem;
			display: flex;
			align-items: flex-start;
  
			ion-icon {
			  min-width: 30px;
			  font-size: 2rem;
			  color: #797979;
			  margin-left: 4px;
			}
		  }
		}
  
		ion-icon {
		  &[item-end] {
			min-width: 42px;
			font-size: 1.95rem;
			color: #797979;
			text-align: end;
		  }
		}
  
		&.add-item {
		  padding: 0;
  
		  h2 {
			padding: 3px 0;
			font-weight: 600;
  
			ion-icon {
			  font-size: 2rem;
			  margin-right: 13px;
			  position: relative;
			  top: 1px;
			}
		  }
		}
	  }
	}
  
	ion-footer {
	  h2 {
		padding: 6px 0px;
		font-size: 1.7rem !important;
		font-weight: 700 !important;
  
		ion-icon {
		  top: 2px;
		  margin: 0 10px;
		  position: relative;
		}
	  }
	}
  
	.empty-view {
	  width: 200px;
	  margin: auto;
	  height: 200px;
	  top: 10%;
	  position: absolute;
	  left: 0;
	  right: 0;
	  bottom: 10%;
  
	  img {
		width: 100px;
		margin: auto;
	  }
  
	  span {
		display: block;
		text-align: center;
	  }
  
	  button {
		margin-top: 50px;
  
		span {
		  display: unset !important;
		}
	  }
	}
  
	.footer {
	  .button {
		&.btn {
		  height: 53px;
		  // font-size: 1.9rem;
		  // background: $theme-color_green;
		  font-size: 1.85rem;
		}
	  }
	}
  }
  