<ion-header class="bg-thime">
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{'change_language' | translate}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="bg-light">
	<ion-list no-lines>
		<ion-item *ngFor="let language of config.availableLanguages" (click)="onLanguageClick(language)">
			<h3>{{language.name}}</h3>
			<ion-icon *ngIf="defaultLanguageCode == language.code" name="md-globe" item-end></ion-icon>
		</ion-item>
	</ion-list>
</ion-content>
<ion-footer no-border>
	<button ion-button full class="btn" (click)="languageConfirm()">
		{{'save' | translate}}
	</button>
</ion-footer>
